/****** General ***********/

:root {
  --grey: #e4e4e4;
  --violet: #6022a6;
}
p {
  font-size: 18px;
  color: black;
}
/* MODAL */
.modal-dialog section {
  border-radius: 10px;
  overflow: hidden;
}

.modal_content-left {
  background-color: white;
}
.modal_content-left p {
  margin: 0px;
  font-size: 16px;
  line-height: 19.5px;
  color: black;
}
.modal_content-left h2 {
  font-family: SourceSansProSemiBold;
  font-size: 40px;
  color: var(--violet);
}
.modal_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal_list li {
  list-style-type: none;
  border-left: 5px solid #45b2c5;
  line-height: 19.5px;
  font-size: 15px;
  padding-left: 10px;
}
.modal_content-right {
  background-color: #e4e4e4;
}
.modal_content-right p {
  color: black;
  font-size: 15px;
  line-height: 19.5px;
}
.modal_headline {
  font-family: SourceSansProSemiBold;
  color: var(--violet);
  font-size: 16px;
  line-height: 20.8px;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
}
.close_cross {
  font-size: 40px;
  color: #000000;
  cursor: pointer;
}
