/****** General ***********/
.modal_contentt {
  font-family: "Source Sans 3", sans-serif;
}

:root {
  --grey: #e4e4e4;
  --violet: #6022a6;
}
p {
  font-size: 18px;
  color: black;
}

.violet_button {
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: var(--violet);
  padding: 7px 30px;
}
/* MODAL */
.modal_contentt {
  background-color: turquoise;
  border: 1px solid red;
}
.modal_content-left {
  /* height: 800px; */
  background-color: white;
  outline: 1px solid green;
}
.modal_content-right {
  /* height: 800px; */
  background-color: #e4e4e4;
  outline: 1px blue solid;
}
.modal_content-right p {
  color: black;
  font-size: 15px;
  line-height: 19.5px;
}
.modal_headline {
  color: var(--violet);
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 600;
}

.modal_boldtext {
  font-weight: 700;
}
