/****** General ***********/
* {
  font-family: "Source Sans 3", sans-serif;
}
:root {
  --grey: #e4e4e4;
  --violet: #6022a6;
}
p {
  font-size: 18px;
  color: black;
}

.violet_button {
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: var(--violet);
  padding: 7px 30px;
}

/*    ------------------    HEADER  ---------------- */

/* NAV */
.nav-item a {
  text-decoration: none;
}
.link-black {
  color: black;
}
.link-black:hover {
  color: var(--violet);
}

.link-white {
  margin: 0px 10px;
  color: white;
  background-color: var(--violet);
}

@media (max-width: 992px) {
  .link-white {
    margin: 0px;
  }
}

/* PRISTINA SPLASH */
.header_splash {
  max-width: 1200px;
  padding: 0px;
}
.header_bot {
  background-color: var(--grey);
  min-height: 274px;
  text-align: center;
}
.header_bot h1 {
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}
.header_bot--readmore a {
  font-style: italic;
  font-size: 12px;
  color: #8d8d8d;
  text-decoration: none;
}
.line {
  height: 1px;
  width: 100px;
  background-color: #63666a;
}
/*    ------------------    MAIN  ---------------- */

/* PRISTINA COLUMNS */

.more {
  background-color: var(--violet);
  border: none;
  height: 40px;
  width: 40px;
  padding: 7px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 0px 0px 5px 0px;
}
.more img {
  object-fit: cover;
}

/* TEST */
.de {
  /* outline: 1px solid blue; */
  max-width: 1200px;
}

.pristina_column--row {
  /* outline: 1px solid black; */
  max-width: 1000px;
  margin: auto;
}
.pristina_column--row > div {
  padding: 0px;
}
.pristina_column--row > h2 {
  color: var(--violet);
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
}
.pristina_column--content {
  background-color: var(--grey);
  position: relative;
  max-width: 260px;
  max-height: 295px;
  border-radius: 10px;
}
.pristina_column--content > img {
  max-width: 198px;
  width: 100%;
}

.pristina_column--content > div > h3 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin: 0px;
  text-align: left;
}
.pristina_column--content > div > p {
  text-align: left;
  line-height: 19.5px;
  font-size: 15px;
}

.plus {
  max-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .pristina_column--content {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }

  .pristina_column--content > div > p {
  }
}
/* VIDEO */
.video_plugin {
  object-fit: cover;
  padding: 0px;
  max-width: 1200px;
}
.video_plugin img {
  width: 100%;
}
/* BOOK A DEMO */
.bookademo_section {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookademo_button {
  width: 192px;
  height: 34px;
}
/* CAROUSEL */
.carousel_container {
  background-color: black;
  max-width: 1200px;
  padding: 0px;
}
.carousel_container > h2 {
  font-weight: 600;
  color: white;
  font-size: 25px;
}
.carousel-indicators {
}

.carousel-indicators button {
  outline: 1px solid black;
  height: initial;
  width: initial;
}
.carousel-indicators li {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 10px;
  margin: 3px;
  top: 30px;
}
.carousel-indicators li.active {
  background: #ffffff;
}
.carousel-inner {
  border: 2px solid yellowgreen;
}
.carousel-item {
  gap: 50px;
}
.d-block {
  width: 529px;
}
.carousel-caption {
  width: 320px;
  position: initial;
}
.carousel-caption h5 {
  font-size: 18px;
  color: white;
}
.carousel-caption p {
  font-size: 16px;
  color: white;
  line-height: 20px;
}
.carousel-control {
  width: 35px;
}

/* CEM Program */
.CEMProgram_container {
  max-width: 1200px;
  padding: 0px;
  min-height: 572px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.CEMProgram_img {
  background-color: blue;
  min-height: 500px;
}
.CEMProgram_img img {
  width: 100%;
}
.CEMProgram_text {
  outline: 1px solid red;
}
.CEMProgram_text h4 {
  font-size: 18px;
  color: var(--violet);
  font-weight: 600;
  margin-top: 10px;
}

.CEMProgram_text ul {
  list-style-type: none;
}
.CEMProgram_text li {
  font-size: 18px;
  color: black;
  margin: 7px 0;
}

.CEMprogram_button {
  width: 232px;
  height: 34px;
}

/* BROCHURE */
.brochure_container {
  background-color: var(--grey);
  min-height: 339px;
  max-width: 1200px;
}
.brochure_title {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brochure_title h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--violet);
  text-align: center;
}
.brochure_img {
  outline: 1px solid brown;
}

/* FORM */
.form_section {
  max-width: 1200px;
}
.form_section h2 {
  color: var(--violet);
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}
.form_container div {
  padding: 5px;
}
.form_container p {
  font-size: 13px;
}
.form_container a {
  color: black;
}
.form-label {
  font-family: default;

  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-weight: 700;
}
.form-check-label {
  font-family: default;
  font-size: 13px;
  font-weight: 700;
}
.form-control {
  font-family: default;
  background-color: var(--grey);
  height: 35px;
  border-radius: 0;
  border: none;
}

/* FOOTER */
.footer {
  background-color: var(--grey);
  min-height: 323px;
}

.footer p {
  color: #63666a;
  font-size: 12px;
  font-weight: 400;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 850px) {
  .pristina_column--content {
    max-width: none;
    max-height: 295px;
  }

  .plus {
    max-width: none;
  }
}
