@font-face {
  font-family: SourceSansProBold;
  src: url(/fonts/SourceSansPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SourceSansProSemiBold;
  src: url(/fonts/SourceSansPro-Semibold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SourceSansPro;
  src: url(/fonts/SourceSansPro-Regular.otf);
  font-weight: bold;
}
/****** General ***********/
* {
  font-family: "SourceSansPro", sans-serif;
  color: black;
}
:root {
  --grey: #e4e4e4;
  --violet: #6022a6;
}
p {
  font-size: 18px;
  color: black;
}

.violet_button {
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: var(--violet);
  padding: 7px 30px;
}

/*    ------------------    HEADER  ---------------- */

/* NAV */
.nav-item a {
  text-decoration: none;
}
.link-black {
  color: black;
}
.link-black:hover {
  color: var(--violet);
}

.link-white {
  margin: 0px 10px;
  color: white;
  background-color: var(--violet);
}

@media (max-width: 992px) {
  .link-white {
    margin: 0px;
  }
}

/*    ------------------    MAIN  ---------------- */

/* PRISTINA SPLASH */
.pristina_splash {
  background-color: var(--violet);
  padding: 0px;
}

.pristina_bot {
  background-color: var(--grey);
  min-height: 274px;
  text-align: center;
}
.pristina_bot h1 {
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}
.pristina_bot--readmore a {
  font-style: italic;
  font-size: 12px;
  color: #8d8d8d;
  text-decoration: none;
}
.line {
  height: 1px;
  width: 100px;
  background-color: #63666a;
}
/* PRISTINA COLUMNS */

.more {
  background-color: var(--violet);
  border: none;
  height: 40px;
  width: 40px;
  padding: 7px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 0px 0px 5px 0px;
}
.more img {
  object-fit: cover;
}

/* PRISTINA COLUMNS */

.pristina_column--row {
  /* outline: 1px solid black; */
  max-width: 1000px;
  margin: auto;
}
.pristina_column--row > div {
  padding: 0px;
}
.pristina_column--row > h2 {
  color: var(--violet);
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
}
.pristina_column--content {
  background-color: var(--grey);
  position: relative;
  max-width: 260px;
  max-height: 295px;
  border-radius: 10px;
}
.pristina_column--content > img {
  max-width: 198px;
  width: 100%;
}

.pristina_column--content > div > h3 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin: 0px;
  text-align: left;
}
.pristina_column--content > div > p {
  text-align: left;
  line-height: 19.5px;
  font-size: 15px;
}

.plus {
  max-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .pristina_column--content {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }

  .pristina_column--content > div > p {
  }
}

/* VIDEO */
.video_plugin {
  max-width: 1200px;
  padding: 0px;
}
.video_plugin img {
  width: 100%;
}
/* BOOK A DEMO */
.bookademo_section {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookademo_button {
  width: 192px;
  height: 34px;
}
/* CAROUSEL */
/* voir carousel.css */

/* CEM Program */

.CEMProgram_container {
  max-width: 1200px;
  padding: 0px;
}

.CEMProgram_img {
  max-width: 354px;
  padding: 0px;
  overflow: hidden;
}
.CEMProgram_img img {
  object-fit: fill;
  height: 100%;
}

/* BROCHURE */
.brochure_container {
  background-color: var(--grey);
  min-height: 339px;
}
.brochure_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}
.brochure_title {
  max-width: 286px;
}
.brochure_title h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--violet);
  text-align: center;
}

/* FORM */
.form_section {
  max-width: 1200px;
}
.form_section h2 {
  color: var(--violet);
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}
.form_container {
}
.form_container div {
  padding: 5px;
}
.form_container p {
  font-family: Helvetica, sans-serif;
  line-height: 16.9px;
  color: #333333;
  font-size: 13px;
}
.form_container a {
  font-family: Helvetica, sans-serif;
  color: black;
  margin: 0px;
  padding: 0px;
}
.form-label {
  font-family: Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
}

.form-control {
  font-family: Helvetica, sans-serif;
  background-color: var(--grey);
  height: 35px;
  border-radius: 0;
  border: none;
}
.form-select {
  font-family: Helvetica, sans-serif;
  background-color: var(--grey);
  height: 35px;
  border-radius: 0;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #343a40;
}
.formcheck {
  font-family: Helvetica, sans-serif;
  display: flex;
  gap: 10px;
}
.form-check-label {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.form-check-input {
  border: 1px solid #767676;
}

/* FOOTER */
.footer {
  background-color: var(--grey);
  min-height: 323px;
}

.footer p {
  color: #63666a;
  font-size: 12px;
  font-weight: 400;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 850px) {
  .plus {
    max-width: none;
  }
}
