/****** General ***********/
:root {
  --grey: #e4e4e4;
  --violet: #6022a6;
}
/* HEADER */
.header_top {
  background-color: var(--violet);
  height: 351px;
}
.header_bot {
  background-color: var(--grey);
}

/* VIDEO */
.video_plugin {
  height: 533px;
  outline: 1px solid black;
}
